.loader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader__spinner {
  width: 20px;
  height: 20px;
  border: 4px solid;
  border-radius: 50%;
  border-color: #000 #000 #eee #eee;
  animation: spin 1s linear infinite 0s;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
