.form {
  top: 50%;
  left: 50%;
  gap: 6px;
  width: 30em;
  display: flex;
  position: absolute;
  padding-top: 2em;
  flex-flow: column;
  translate: -50% -80%;
}

.form__group {
  gap: 4px;
  display: flex;
  flex-flow: column;
}

.group__input {
  padding: 0.5em 0.2em;
}

.form__group:last-of-type, .form__group:nth-last-of-type(2) {
  height: 32px;
}

.link--primary {
  display: flex;
  color: #fff;
  margin: 30px auto;
  padding: .5em 1em;
  background: #44f;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.link--primary:hover {
  opacity: 0.9;
}
